[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"
black = "*"
notebook = "*"
jupyter-contrib-nbextensions = "*"
tqdm = "*"

[packages]
ete3 = "*"
pyqt5 = "*"
matplotlib = "*"
pandas = "*"
np = "*"
seaborn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
